/*
    Created on : May 8, 2014, 9:35:18 PM
    Author     : Fred <mconyango@gmail.com>
*/

.grid-view2{

}
.grid-view2 .table{
    margin-bottom: 0;
}
.grid-view2 .button-column i{
    font-size: 1.5em;
}
.grid-view2 .button-column{
    text-align: center;
}
.grid-view2 td.button-column a+a{
    margin-left:15px;
}
.grid-view2 .table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd!important;
    /*border-top: 2px solid #ddd!important;*/
}
.grid-view2 tbody tr.tr-selected td{
    background-color: #d9edf7!important;
}
.grid-view2 th a:after {
    content: "\f0dc";
    display: inline-block;
    color: #555;
    font-family: FontAwesome;
    font-size: 13px;
    font-weight: normal;
    float: right;
    margin-right: 4px;
    position: relative;
}
.grid-view2 th>a.desc,
.grid-view2 th>a.asc {
    color: #307ecc;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#eff3f8), to(#e3e7ed));
    background-image: -webkit-linear-gradient(top, #eff3f8, 0%, #e3e7ed, 100%);
    background-image: -moz-linear-gradient(top, #eff3f8 0%, #e3e7ed 100%);
    background-image: linear-gradient(to bottom, #eff3f8 0%, #e3e7ed 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeff3f8', endColorstr='#ffe3e7ed', GradientType=0);
}
.grid-view2 th>a.desc:after {
    content: "\f0dd";
    top: -6px;
    color: #307ecc;
}
.grid-view2 th > a.asc:after {
    content: "\f0de";
    top: 4px;
    color: #307ecc;
}
.grid-view2 .summary{
    padding-top: 6px;
}
.grid-view2 tr.bg-danger td {
    background-color: #F2DEDE!important;
}
.grid-view2 tr.bg-warning td {
    background-color: #FCF8E3!important;
}
.grid-view2 tr.bg-success td {
    background-color: #DFF0D8!important;
}
.grid-view2 tr.linkable:hover{
    cursor: pointer;
}
@media print {
    .grid-view2 .button-column,.grid-view2 .button-column *,.grid-view2 .panel-footer,.grid-view2 .panel-footer *{
        display: none!important;
    }
    .grid-view2 .table-responsive {
        display: block !important;
    }
    .grid-view2 select,.grid-view2 select *,.grid-view2 input,.grid-view2 input *{
        display: none!important;
    }
    a[href]:after {
        content: none !important;
    }
    .grid-view2 table{
        width: 100%!important;
        visibility: visible!important;
    }
    iframe{
        width: 100%!important;
        height: 100%!important;
    }
}