/*!
 * @copyright Copyright &copy; Kartik Visweswaran, Krajee.com, 2013
 * @package yii2-grid
 * @version 1.0.0
 *
 * Gridview widget styling and enhancements for Bootstrap.
 * Built for Yii Framework 2.0
 * Author: Kartik Visweswaran
 * Year: 2013
 * For more Yii related demos visit http://demos.krajee.com
 */
.kv-panel-pager .pagination {
    margin: 0 0 -5px 0;
    padding: 0;
}

.kv-panel-before {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.kv-panel-after {
    padding: 10px;
    border-top: 1px solid #ddd;
}

.kv-table-float {
    border-top: none;
    border-bottom: none;
    background-color: #fff;
}

.kv-align-center {
    text-align: center;
}

.kv-align-left {
    text-align: left;
}

.kv-align-right {
    text-align: right;
}

.kv-align-top {
    vertical-align: top !important;
}

.kv-align-bottom {
    vertical-align: bottom !important;
}

.kv-align-middle {
    vertical-align: middle !important;
}

.kv-nowrap {
    white-space: nowrap;
}

.kv-merged-header {
    border-bottom: 2px solid #ddd !important;
}

.kv-page-summary {
    border-top: 4px double #ddd;
    font-weight: bold;
}

.kv-table-footer {
    border-top: 4px double #ddd;
    font-weight: bold;
}

.kv-table-caption {
    font-size: 1.5em;
    padding: 8px;
    border: 1px solid #ddd;
    border-bottom: none;
}

.panel .kv-table-caption {
    border: none;
    border-bottom: 1px solid #ddd;
}