/**
* Put styles that are specific to hr module here
*    Created on : Mar 10, 2014, 4:57:25 PM
*  Author     : Fred <mconyango@gmail.com>
*/
/* Leaves */
ul.leave_balance {
        margin: 0;
        padding: 0;
        list-style: none;
}
ul.leave_balance li {
        float:left;
        border: 3px solid #D0D7D0;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        margin:10px 5px;
        padding: 10px;
        min-width: 118px;
        min-height: 125px;
        background:#F8F8F8;
}
ul.leave_balance li:hover {
        border: 3px solid #333333;
}
ul.leave_balance li h6 {
        text-align: center;
        text-transform: none;
        font-size:18px;
        line-height: normal;
        color: #898888;
}
ul.leave_balance li span.balance {
        font-size:24px;
        color: #676767;
}
ul.leave_balance li span.total {
        font-size:16px;
        color: #B8B8B8;
}
div.bal {
        margin-top: 10px;
        text-align: center;
}
h3.bal_heading {
        margin:0 6px;
        line-height: normal;
}

div.more-messages {
        width:100%;
        text-align: center;
        border:1px dashed #D9D9D9;
        margin:20px 0;
        display: block;
        clear: both;
        background: #F7F7F7;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
}
div.more-messages .more-button {
        padding:10px 0;
        font-size: 14px;
}

ul.company_leaves_list {
        list-style: none;
        margin:0;
        padding:0;
}
ul.company_leaves_list li {
        display: inline-block;
        margin-top: 10px;
}

div.leave-base {
        float:left;
        width: 135px;
        border: 1px dashed #B0B0B0;
        margin-right: 10px;
        text-align: center;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background:#EAEAEA;
        padding:10px 0;
}
div.leave-base a {
        text-decoration: none;
        cursor: pointer;
}
div.leave-base h5 {
        line-height: normal;
        font-size:18px;
}
div.leave-base h6 {
        line-height: normal;
        font-size:40px;
}
div.leave-constraints {
        float:left;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background:#EAEAEA;
        border: 1px dashed #B0B0B0;
        width:402px;
}
div.leave-constraints > h5 {
        margin-left:10px;
}

ul.policy-constraints {
        margin:10px;
        padding:0;
        list-style: none;
}
.margin-0 {
        margin: 0 !important;
}
ul.policy-constraints li {
        margin:5px 0;
        padding:5px 0;
        border-top: 1px solid #D7D7D7;
}
ul.policy-constraints h5 {
        line-height: normal;
}

