/*!
 * Fine Uploader
 *
 * Copyright 2013,  Widen Enterprises,  Inc. info@fineuploader.com
 *
 * Version: 3.7.0
 *
 * Homepage: http://fineuploader.com
 *
 * Repository: git://github.com/Widen/fine-uploader.git
 *
 * Licensed under GNU GPL v3,  see LICENSE
 */


/*! fineuploader 2013-06-28 */

.qq-uploader {
        position: relative;
        width: 100%}
.qq-upload-button {
        display: block;
        width: 105px;
        padding: 7px 0;
        text-align: center;
        background: #222;
        border-bottom: 1px solid #DDD;
        color: #FFF;
}
.qq-upload-button-hover {
        background: rgb(0,  125,  188);
}
.qq-upload-button-focus {
        outline: 1px dotted #000;
}
.qq-upload-drop-area, .qq-upload-extra-drop-area {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        min-height: 30px;
        z-index: 2;
        background: #FF9797;
        text-align: center;
}
.qq-upload-drop-area span {
        display: block;
        position: absolute;
        top: 50%;
        width: 100%;
        margin-top: -8px;
        font-size: 16px;
}
.qq-upload-extra-drop-area {
        position: relative;
        margin-top: 50px;
        font-size: 16px;
        padding-top: 30px;
        height: 20px;
        min-height: 40px;
}
.qq-upload-drop-area-active {
        background: #FF7171;
}
.qq-upload-list {
        margin: 0;
        padding: 0;
        list-style: none;
}
.qq-upload-list li {
        margin: 0;
        padding: 9px;
        line-height: 12px;
        font-size: 12px;
        background-color: #FFF0BD;
}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-retry, .qq-upload-failed-text, .qq-upload-finished, .qq-upload-delete {
        margin-right: 12px;
}
.qq-upload-file {
}
.qq-upload-spinner {
        display: inline-block;
        background: url(loading.gif);
        width: 16px;
        height: 16px;
        vertical-align: text-bottom;
}
.qq-drop-processing {
        display: none;
}
.qq-drop-processing-spinner {
        display: inline-block;
        background: url(processing.gif);
        width: 24px;
        height: 24px;
        vertical-align: text-bottom;
}
.qq-upload-finished {
        display: none;
        width: 15px;
        height: 15px;
        vertical-align: text-bottom;
}
.qq-upload-retry, .qq-upload-delete {
        display: none;
        color: #000;
}
.qq-upload-delete{
        color: #D60000;
}
.qq-upload-cancel, .qq-upload-delete {
        color: #000;
}
.qq-upload-retryable .qq-upload-retry {
        display: inline;
}
.qq-upload-size, .qq-upload-cancel, .qq-upload-retry, .qq-upload-delete {
        font-size: 12px;
        font-weight: 400;
}
.qq-upload-failed-text {
        display: none;
        font-style: italic;
        font-weight: 700;
}
.qq-upload-failed-icon {
        display: none;
        width: 15px;
        height: 15px;
        vertical-align: text-bottom;
}
.qq-upload-fail .qq-upload-failed-text {
        display: inline;
}
.qq-upload-retrying .qq-upload-failed-text {
        display: inline;
        color: #D60000;
}
.qq-upload-list li.qq-upload-success {
        background-color: #5DA30C;
        color: #FFF;
}
.qq-upload-list li.qq-upload-fail {
        background-color: #D60000;
        color: #FFF;
}
.qq-progress-bar {
        background: -moz-linear-gradient(top, rgba(30, 87, 153, 1) 0, rgba(41, 137, 216, 1) 50%, rgba(32, 124, 202, 1) 51%, rgba(125, 185, 232, 1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(30, 87, 153, 1)), color-stop(50%, rgba(41, 137, 216, 1)), color-stop(51%, rgba(32, 124, 202, 1)), color-stop(100%, rgba(125, 185, 232, 1)));
        background: -webkit-linear-gradient(top, rgba(30, 87, 153, 1) 0, rgba(41, 137, 216, 1) 50%, rgba(32, 124, 202, 1) 51%, rgba(125, 185, 232, 1) 100%);
        background: -o-linear-gradient(top, rgba(30, 87, 153, 1) 0, rgba(41, 137, 216, 1) 50%, rgba(32, 124, 202, 1) 51%, rgba(125, 185, 232, 1) 100%);
        background: -ms-linear-gradient(top, rgba(30, 87, 153, 1) 0, rgba(41, 137, 216, 1) 50%, rgba(32, 124, 202, 1) 51%, rgba(125, 185, 232, 1) 100%);
        background: linear-gradient(to bottom, rgba(30, 87, 153, 1) 0, rgba(41, 137, 216, 1) 50%, rgba(32, 124, 202, 1) 51%, rgba(125, 185, 232, 1) 100%);
        width: 0;
        height: 15px;
        border-radius: 6px;
        margin-bottom: 3px;
        display: none;
}
INPUT.qq-edit-filename {
        position: absolute;
        opacity: 0;
        filter: alpha(opacity=0);
        -ms-filter: "alpha(Opacity=0)"}
.qq-upload-file.qq-editable {
        cursor: pointer;
}
.qq-edit-filename-icon.qq-editable {
        display: inline-block;
        cursor: pointer;
}
INPUT.qq-edit-filename.qq-editing {
        position: static;
        margin-top: -5px;
        margin-right: 10px;
        margin-bottom: -5px;
        opacity: 1;
        filter: alpha(opacity=100);
        -ms-filter: "alpha(Opacity=100)"}
.qq-edit-filename-icon {
        display: none;
        background: url(edit.gif);
        width: 15px;
        height: 15px;
        vertical-align: text-bottom;
        margin-right: 5px;
}
INPUT.qq-edit-filename.qq-editing~.qq-upload-cancel {
        display: none;
}
/*! 2013-06-28 */
